.title {
    color: $secondary-color;
}


// buttons
.btn {
    font-size: $font-16;
    line-height: 20px;
    font-weight: $weight-500;
    border-color: transparent;
    padding: 10px 18px;
    border-radius: $border-rd-20;
    -webkit-border-radius: $border-rd-20;
    -moz-border-radius: $border-rd-20;
    -ms-border-radius: $border-rd-20;
    -o-border-radius: $border-rd-20;
    @include boxshadow;
}

.btn-primary {
    background: $secondary-color;
    color: $white-color;
    &:hover {
        background: darken($secondary-color, 10%);
        border-color: $secondary-color;
    }
}


.menueffect {
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}

// fade in Effect
@keyframes rotateMenu {
    0% {
        transform: rotateX(-90deg)
    }
    70% {
        transform: rotateX(20deg) 
    }
    100% {
        transform: rotateX(0deg) 
    }
}