// colors
$primary-color: #262933;
$secondary-color: #ff6022;
$black-color: #000000;
$white-color: #ffffff;


// font size
$font-16 : 16px;
$font-18 : 18px;
$font-20 : 20px;
$font-24 : 24px;

// font weight
$weight-400 : 400;
$weight-500 : 500;
$weight-600 : 600;
$weight-800 : 800;


$border-rd-5: 5px;
$border-rd-10: 10px;
$border-rd-15: 15px;
$border-rd-20: 20px;
$border-rd-full: 100%;


// breakpoints
$screen-sm: 576px;
$screen-md: 767px;
$screen-lg: 991px;
$screen-xl: 1200px;